body {
    background-color: darkgrey;
    font-family: system-ui, sans-serif;
}

.easy-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.empty-card-placeholder {
    width: 100px;
    aspect-ratio: 1/1.5;
    border: 3px solid #41463D;
    
    
}