body {
    background-color: darkgrey;
    font-family: system-ui, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    gap: 25px;
    margin: 10px;
}

h1 {
    margin-bottom: 40px;
}

h2 {
    margin: 4px;
}

#current-score {
    margin-bottom: 40px;
}

.easy-board { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 500px;
    width: 620px;
    gap: 60px;
    }

.empty-card-placeholder {
    width: 100px;
    height: 125px;
    ;
    border: 1px solid #41463D;
}