body {    
    font-family: system-ui, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
    gap: 25px;
    margin: 0px;
    background-image: url("../images/game-background/concentrationBackground.jpg");
    background-size: cover;
}

h1 {
    font-family: "Comfortaa", sans-serif;
    margin-bottom: 6px;
}

h2 {
    font-family: "Comfortaa", sans-serif;
    margin-bottom: 12px;
    margin-top: 5px;
    
}

a {
    font-size: 24px;
}

h3 {
    font-family: "Comfortaa", sans-serif;
    font-size: 18px;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#score {
    text-align: center;
    padding-top: 12px;
    height: 35px;
    width: 100px;
    background-color: rgba(155, 155, 155, 0.8);
    border-radius: 4px;
}

#lives {
    text-align: center;
    padding-top: 12px;
    height: 35px;
    width: 100px;
    background-color: rgba(155, 155, 155, 0.8);
    border-radius: 4px;
}

.card-board { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 800px;
    width: 620px;
    gap: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

#reset {
    font-family: "Comfortaa", sans-serif;
    font-size: 26px;
    font-weight: bold;
    background-color: rgb(255, 170, 58);
    border-radius: 28px;
    padding: 8px 10px 8px 10px;
    border-style: outset;
}